<div class="bg-gray-200 min-h-screen flex">
  <!-- Sidebar for saved words -->
  <div class="w-1/6">
    <div class="bg-gray-200 rounded-lg p-4">
      <h2 class="text-lg font-medium text-gray-700">Saved Words</h2>
      <ul class="mt-2 space-y-2">
        <li *ngFor="let word of savedWords" 
            class="p-2 border border-gray-300 rounded-lg bg-white shadow-sm cursor-pointer hover:bg-gray-100 relative " (click)="onSavedWordClick(word)">
          <strong>{{ word.input_lang }}:&nbsp;</strong> {{ word.input_text }} <br>
          <strong>{{ word.output_lang }}:&nbsp;</strong> {{ word.output_text }}
          <button (click)="deleteWord(word._id)" class="delete-button">
            <i class="fas fa-trash text-red-500 absolute bottom-2 right-2 hover:text-red-700"></i>
          </button>
        </li>
        <li *ngIf="savedWords.length === 0" class="text-gray-500">No saved words found.</li>
      </ul>
    </div>
  </div>

  <!-- Main content -->
  <div class="bg-white min-h-screen max-w-screen-xl w-full shadow-lg p-7 md:p-20 flex justify-between">
    <!-- Left text area -->
    <div class="w-1/2 relative">
      <div class="bg-gray-200 rounded-lg p-4 relative">
        <label for="inputLanguageSelect" class="block mt-4 mb-2 text-lg font-medium text-gray-700">Select Language:</label>
        <select id="inputLanguageSelect" class="w-full p-2 border shadow-lg border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" [(ngModel)]="selectedInputLanguage">
          <option *ngFor="let language of languages" [value]="getLanguageCode(language)">{{ language }}</option>
        </select>
        <label for="inputTextArea" class="block mb-2 text-lg font-medium text-gray-700">Enter Text to Translate:</label>
        <textarea id="inputTextArea" name="inputTextArea" rows="8" class="w-full p-2 border shadow-lg border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 resize-none" [(ngModel)]="inputText" (input)="translateText()" (ngModelChange)="clearTextAreas($event)"></textarea>     
        <button (click)="getTextToSpeech(inputText, selectedInputLanguage)" class="absolute bottom-8 right-7 bg-blue-200 text-black p-2 rounded-full shadow-lg hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-500" title="Speak">
          <i class="fas fa-volume-up"></i>
        </button>
      </div>
    </div>
    <!-- Right text area for translated text -->
    <div class="w-1/2 relative">
      <div class="bg-gray-200 rounded-lg p-4 relative">
        <label for="targetLanguageSelect" class="block mt-4 mb-2 text-lg font-medium text-gray-700">Select Language:</label>
        <select id="targetLanguageSelect" class="w-full p-2 border shadow-lg border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" [(ngModel)]="selectedOutputLanguage" (ngModelChange)="translateText()">
          <option *ngFor="let language of languages" [value]="getLanguageCode(language)">{{ language }}</option>
        </select>
        <label for="outputTextArea" class="block mb-2 text-lg font-medium text-gray-700">Translated Text:</label>
        <textarea id="outputTextArea" name="outputTextArea" rows="8" class="w-full p-2 border shadow-lg border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 resize-none" [(ngModel)]="outputText" readonly></textarea>
        <div *ngIf="copySuccess" class="absolute bottom-16 left-7 text-green-500">Text copied to clipboard</div>
        <button (click)="getTextToSpeech(outputText, selectedOutputLanguage)" class="absolute bottom-8 right-7 bg-blue-200 text-black p-2 rounded-full shadow-lg hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-500" title="Speak">
          <i class="fas fa-volume-up"></i>
        </button>
        <button (click)="saveText(inputText, outputText, getLanguageName(selectedInputLanguage), getLanguageName(selectedOutputLanguage))" class="absolute bottom-8 right-20 bg-blue-200 text-black p-2 rounded-full shadow-lg hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-500 h-10 w-10" title="Save Text">
          <i class="fas fa-save"></i>
        </button>
        <button (click)="copyText()" class="absolute bottom-8 left-7 text-black p-2 rounded-full  hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-500 h-10 w-10" title="Copy Text">
          <i class="fas fa-copy"></i>
        </button>
      </div>
    </div>
  </div>
</div>
